streamlit
scikit-learn
pandas
plotly
shap
matplotlib
streamlit-option-menu
PyGithub
python-dotenv
streamlit-plotly-events
openai==0.28
card
streamlit_extras
importlib
tabulate
st_autocomplete


















